<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
</head>
<body>
    <h1>Log-in Page</h1>
    <form action="/auth/login" method="POST">
        <input type="email" required placeholder="Your Email" id="email" name="email">
        <input type="password" required placeholder="Your Password" id="password" name="password">
        <input type="submit" value="login">
    </form>
</body>
</html>