<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form action="/auth/signup" method="POST">
        <input type="text" required placeholder="Your Name" id="name" name="name">
        <input type="email" required placeholder="Your Email" id="email" name="email">
        <input type="password" required placeholder="password" id="password" name="password">
        <input type="password" required placeholder="confirm password" id="confirm_password" name="confirm_password">
        <input type="submit" value="signup">
    </form>
</body>
</html>